# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=tanish
POSTGRES_DB=eduai_db
DATABASE_URL=postgresql://admin:tanish@db:5432/eduai_db

# AI
GEMINI_API_KEY=

# ChromaDB
CHROMADB_HOST=chromadb
CHROMADB_PORT=8000
