fastapi
uvicorn
sqlalchemy
psycopg2-binary
chromadb
langchain-chroma
langchain-text-splitters
google-generativeai
langchain-google-genai
python-dotenv
alembic
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator
pymupdf
python-docx
requests
Pillow
langchain-groq
slowapi

